@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&display=swap');

/* 1. Definimos el orden */
@layer tailwind-base, primevue, tailwind-utilities;

/* 2. Base de Tailwind */
@layer tailwind-base {
  @tailwind base;

  *, ::before, ::after { box-sizing: border-box; border-width: 0; border-style: solid; }
  img, svg { display: block; vertical-align: middle; }
}

/* 3. PrimeVue */
@layer primevue {
}

/* 4. Utilidades de Tailwind al final */
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* Fuente global */
* {
  font-family: 'Sora', sans-serif;
}

html[data-theme='dark'],
#app[data-theme='dark'] {
  color-scheme: dark;
}

html[data-theme='light'],
#app[data-theme='light'] {
  color-scheme: light;
}

html[data-theme='light'] body,
html[data-theme='light'] #app {
  background-color: #f9fafb;
}

html[data-theme='dark'] body,
html[data-theme='dark'] #app {
  background-color: #030712;
}

@media print {
  aside,
  nav,
  header,
  .no-print {
    display: none !important;
  }

  main {
    margin-left: 0 !important;
    padding-top: 0 !important;
    width: 100% !important;
  }

  main > div {
    padding: 0 !important;
    width: 100% !important;
  }

  .p-6 {
    margin: 0 auto !important;
    max-width: 750px !important;
    padding: 1.5rem !important;
  }

  .col-ocupacion,
  .col-estado {
    display: none !important;
  }

  .page-break {
    page-break-before: always !important;
  }
}

@page {
  margin: 0.5cm;
  size: A4;
}